@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'idroid';
    src: url(../fontes/idroid.otf) format("opentype");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgba(123, 252, 172, 0.733);
}

/* Cabeçalho da página */
header {
    background-image: linear-gradient(180deg, #2FDE83, #2D3431 );
    box-shadow: 0px 1px 5px black;
}

header > h1 {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    padding: 20px;
}

header > p {
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

header > nav {
    padding: 5px;
}

header > nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    padding-bottom: 3px;
}

header > nav > a:hover {
    background-color: #44b37acb;
    color: #2D3431;
    border-radius: 5px;
}

/* CONTEUDO PRINCIPAL */
main {
    background-color: white;
    width: 800px;
    margin: auto;
    box-shadow: 0px 1px 10px black;
    border-radius: 0px 0px 5px 5px;
}

main > section {
    margin: 0px 15px;
}

main > section > article > h1 {
    font-family: 'idroid';
    font-size: 25px;
    color: rgba(0, 66, 0, 0.945);
    padding: 10px;
}

main > section > article > h2 {
    font-family: 'idroid', sans-serif;
    color: #435E50;
    background-image: linear-gradient(90deg, rgba(0, 128, 0, 0.349), white);
    margin: 15px 0px;
    padding-left: 10px;
}

main > section > article >  p {
    text-align: justify;
    text-indent: 20px;
}

#irina {
    margin: 10px 0px;
    width: 100%;
}

#bugdroid{
    margin-top: 40px;
}

/* #bugdroid > article > picture > img {
    margin-left: 250px;
} */

#video {
    background-color: #435E50;
    margin: 0;
    margin-top: 15px;
    padding: 15px 20px;
    box-shadow: 0px 1px 4px black;
}

 #video > iframe {
    height: 315px;
    width: 600px;
    margin: auto;
}

#fechamento {
    background-color: #2fde849c;
    margin: 20px 10px;
    border-radius: 5px;
}

#fechamento > #titulo {
    background-color: #37a069;
    margin: 0;
    padding: 10px 0px;
    font-weight: bold;
    color: white;
    border-radius: 5px 5px 0px 0px;
}

#fechamento > p {
    padding: 15px;
}

#fechamento > ul {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

#fechamento > ul > li {
    width: 50%;
    list-style: none;
}

#fechamento > ul > li::before {
    content: '✓';
    font-weight: bold;
    margin-right: 10px;
}
