@charset "UTF-8";

/* PASSION ONE */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
/* SRIRACHA */
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte-padrao: "Sriracha", cursive;
    --fonte-destaque: "Passion One", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

/* Cabeçalho */
header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-family: var(--fonte-destaque);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}